# Ch8. Data Wrangling: Join, Combine, and Reshape

## 8.1 Hierarchical Indexing

In [3]:
import pandas as pd
import numpy as np

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data

a  1    0.130896
   2    0.650381
   3   -1.513412
b  1    0.282769
   3   -1.160731
c  1   -1.687804
   2    0.348143
d  2   -1.266984
   3    0.742520
dtype: float64

In [4]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [5]:
data['b']

1    0.282769
3   -1.160731
dtype: float64

In [6]:
data['b':'c']

b  1    0.282769
   3   -1.160731
c  1   -1.687804
   2    0.348143
dtype: float64

In [7]:
data.loc[['b', 'd']]

b  1    0.282769
   3   -1.160731
d  2   -1.266984
   3    0.742520
dtype: float64

In [8]:
data.loc[:,2]  # 2 is inner level selection

a    0.650381
c    0.348143
d   -1.266984
dtype: float64

In [9]:
data.unstack()

          1         2         3
a  0.130896  0.650381 -1.513412
b  0.282769       NaN -1.160731
c -1.687804  0.348143       NaN
d       NaN -1.266984  0.742520

In [10]:
data.unstack().stack()

a  1    0.130896
   2    0.650381
   3   -1.513412
b  1    0.282769
   3   -1.160731
c  1   -1.687804
   2    0.348143
d  2   -1.266984
   3    0.742520
dtype: float64

In [11]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                    columns=[['Ohio', 'Ohio', 'Colorado'],
                             ['Green', 'Red', 'Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11