### date_format

In [2]:
import org.apache.spark.sql.functions.date_format

val df = Seq("2015-03-22T14:13:34").toDF("date")

// "u": day of week
// https://docs.oracle.com/javase/8/docs/api/java/text/SimpleDateFormat.html
val dfu = df.withColumn("u", date_format($"date", "u"))

dfu.show()

+-------------------+---+
|               date|  u|
+-------------------+---+
|2015-03-22T14:13:34|  7|
+-------------------+---+

df = [date: string]
dfu = [date: string, u: string]

[date: string, u: string]

### Partitions

In [4]:
df.rdd.getNumPartitions

1

In [5]:
df.repartition(2)
df.rdd.getNumPartitions

1

### Etc.

In [17]:
val dfr = spark.range(1, 5)
dfr.show(5)

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
+---+

dfr = [id: bigint]

[id: bigint]